.section {
  height: calc(100% - 3.5rem);
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 15%;
    overflow: auto;
  }

  .main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
    overflow: auto;
    background-color: #fff;
  }

}


@media screen and (max-width: 768px) {
  .section {
    padding: 0;
  }

  .button {
    min-width: 130px;
  }
}