.prj-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prj-icon-delete,
.prj-icon-edit {
  float:right;
  visibility: hidden;
}

.prj-item:hover {
  .prj-icon-delete,
  .prj-icon-edit {
    visibility: visible;
  }
}
