.edit-task-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .buttons button {
    margin-top: 0px;
  }

  .other-actions {
    .icon {
      margin: 0 .5rem;
    }
  }

}


.dropdown.is-active {
  .custom-dropdown-menu{
    display: block;
  }
}

.custom-dropdown-menu {
  display: none;
  right: 0;
  min-width: 12rem;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
}