@charset "utf-8";

$red: #e44232;

// Update Bulma's global variables
$family-sans-serif: "IBM Plex Sans", sans-serif;
$primary: $red;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio";
